<ul>
  <li><a [routerLink]="['/']">home</a></li>
  <li><a [routerLink]="['/crm/customers']">crm/customers</a></li>
  <li><a [routerLink]="['/stock']">stock</a></li>
  <li><a [routerLink]="['/examples/example-input-output']">examples/example-input-output</a></li>
  <li><a [routerLink]="['/examples/example-service']">examples/example-service</a></li>
  <li><a [routerLink]="['/examples/example-ngrx']">examples/example-ngrx</a></li>
  <li><a [routerLink]="['/examples/example-store-service']">examples/example-store-service</a></li>
  
</ul>

<router-outlet></router-outlet>
